:root{
    --cor-base: #333;
    --cor-fundo-img: #f2eded;
    --cor-borda-img: #ccc;
}
body{
    color: var(--cor-base);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;    
}

h1{
    background-image: url(../img/sobre-background.jpg);
}

h2{
    border-bottom: 2px groove var(--cor-base);
}

figure{
    background-color: var(--cor-fundo-img);
    border: 1px solid var(--cor-borda-img);
    text-align: center;
}

figcaption{
    font-style: italic;
}